@import "shared-colors";

.section {
	&.featured {
		.title {
			color: $red-dark-1;

			&::after {
				background: $red-dark-1;
			}
		}
	}

	.title {
		color: $c8;
		font-weight: bold;
		text-transform: capitalize;

		display: flex;
		align-items: flex-start;
		text-align: left;

		line-height: 25px;

		&::after {
			content: "";
			margin: auto;
			height: 2px;
			background: $lightgray;
			flex-grow: 1;
			min-width: 25px;
			margin-left: 12px;
		}
	}
	.childrenWrapper {
		margin: 20px 0px 40px 0px;
	}
}
