@import "main";

.appError {
	width: 100%;
	height: 100%;
	max-width: 800px;
	margin: 100px auto 20px auto;
	@include lato;

	.message {
		.title {
			text-align: center;
			font-size: 70px;
			color: $red;
		}
		.subtitle {
			margin-top: 20px;
			font-size: 20px;

			text-align: center;
		}
	}
	.actions {
		display: flex;
		margin-top: 40px;
		justify-content: space-around;
		> div {
			width: 180px;
			text-align: center;

			padding: 10px;
			cursor: pointer;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.errorDisplay {
		margin-top: 20px;
		padding: 10px;
		.errorName {
			font-size: 20px;
			font-weight: bold;
		}
		.errorMessage {
			margin-top: 10px;
		}
		.errorStack {
			overflow: auto;
			color: $red;
		}
	}
}
