<header>
  <strong>CONSOLE</strong>
  <s></s>
  <button mat-icon-button (click)="this.items.splice(0, this.items.length)"><mat-icon>delete</mat-icon></button>
</header>

<ul>
  <li *ngFor="let item of items" class="console-item" [ngClass]="item.type">
    <mat-icon [ngSwitch]="item.type" [ngClass]="item.type">
      <ng-container *ngSwitchCase="itemTypes.INFO">info_outline</ng-container>
      <ng-container *ngSwitchCase="itemTypes.ERROR">error</ng-container>
      <ng-container *ngSwitchCase="itemTypes.NETWORK">public</ng-container>
      <ng-container *ngSwitchCase="itemTypes.WARN">warning</ng-container>
      <ng-container *ngSwitchCase="itemTypes.DEBUG">bug_report</ng-container>
    </mat-icon>

    <span>{{ item.message }}</span>
    <ngx-json-viewer *ngIf="item.details" [json]="item.details" [expanded]="false"></ngx-json-viewer>
  </li>
</ul>
