@use "@angular/material" as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($my-theme);

@import "ngx-toastr/toastr";
@import "variables.scss";

* {
  box-sizing: border-box;
  letter-spacing: normal !important;
}

html,
body {
  display: block;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: $color-primary;
  color: #bfbfbf;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// angular-split
.as-split-gutter {
  background-color: lighten($color-primary, 15%) !important;
}

// ngx-json-viewer
.segment-key {
  color: #68a7de !important;
}

.run-fab {
  display: block;
  z-index: 9999;

  position: absolute !important;
  top: 10px;
  right: min(13vw, 140px); // Monaco minimap (hack)
}

.dialog-no-border-radius .mat-mdc-dialog-container .mdc-dialog__surface {
  --mdc-dialog-container-shape: 0;
}

.mat-mdc-dialog-surface {
  padding: 24px;
}

.mat-mdc-tab-group {
  height: calc(100% - #{$navbar-height});
}

@media (max-width: 767px) {
  .dialog-responsive {
    width: 100vw !important;
    max-width: 100vw !important;
  }
}

@media (min-width: 768px) {
  .dialog-responsive {
    $width: max(500px, 30vw);
    width: $width !important;
    max-width: $width !important;
  }
}

@supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
  html,
  body {
    overflow: hidden;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;

  th,
  td {
    padding-right: 25px !important;
  }
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.tt-none {
  text-transform: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

s {
  flex-grow: 1;
}
