node_modules
coverage
src
npm-debug.log
.awcache
yarn-error.log
.cache-loader
/.gtm/
.idea
.DS_Store
*.snap
tsconfig.json
tslint.json
webpack.config.js
_redirects
.prettierrc
.prettierignore
postcss.config.js
jest.config.js
.vscode
.github
__mocks__
