$c8: #8c8c8c;
$c3: #c3c3c3;
$lightgray: #d1d3da;
$topGray: #f2f3fa;
$grey: #d5d8de;
$anotherGray: #c0c7fa;
$white: white;
$black: black;

$midgnightBlue: #011032;

// ACCENT COLORS
$blue: #1760dd;
$blue-dark-1: darken($blue, 5%);

$red: #ec2c81;
$red-dark-1: darken($red, 5%);

$orange: #ff9800;
$orange-dark-1: darken($orange, 5%);

$green: #009688;
$green-dark-1: darken($green, 5%);

$purple: #5f0bfa;
$purple-dark-1: darken($purple, 5%);
