$accentblue: #4dbfd8;
$accentblue-light: rgba(77, 191, 216, 0.7);
$shadeblue: #132f36;
$placebg: #071215;
$gray-light: rgba(19, 20, 21, 0.2);
$shadegreen: #14372a;
$accentgreen: #51dcab;
$eventbg: #071510;
$icebg: #f0f2f2;
$accentpurple: #9451dc;
$trueblack: #000000;
$truewhite: #ffffff;
$systemgreen: #1ad317;
$systemred: #ff0000;
$shadesystemred: #dc4242;
