@import "shared-colors";

.openCard {
  max-width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.closedCard {
  max-width: 100%;
  height: 100%;
  border: 1px solid $grey;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}
