<header>
  <h1 mat-dialog-title>sdkgen Playground</h1>

  <mat-chip-set role="list">
    <mat-chip [disableRipple]="true">{{ version }}</mat-chip>
  </mat-chip-set>

  <s></s>

  <button mat-icon-button mat-dialog-close tabindex="-1"><mat-icon>close</mat-icon></button>
</header>

<p>Ferramenta para explorar e invocar APIs feitas com sdkgen.</p>
<p>Feito com ❤️ no Brasil 🇧🇷</p>

<a href="https://sdkgen.github.io/" rel="external noreferer" target="_blank" mat-stroked-button>Documentação</a>
<a href="https://github.com/sdkgen/sdkgen" rel="external noreferer" target="_blank" mat-stroked-button>Código-fonte</a>
<a href="https://github.com/sdkgen/sdkgen/issues/new" rel="external noreferer" target="_blank" mat-stroked-button>
  Reportar um problema
</a>
