.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.section {
	.title {
		font-weight: bold;
		margin: 10px 0px;
	}
	.content {
		margin-left: 20px;

		.argGroup {
			.name {
				color: #a31515;

				// font-weight: bold;
			}
			.content {
				margin-left: 20px;
			}
		}
	}
}

.annotation {
	display: flex;
	padding: 5px 0px;

	.type {
		color: #165dab;

		// color: #a31515;
		margin-right: 5px;
		text-transform: capitalize;
	}
	.value {
		color: black;
	}
}
