@import "variables.scss";

:host {
  display: flex;
  height: $navbar-height;

  background-color: lighten($color-primary, 5%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

img {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background: lighten($color-primary, 10%);

  border: 0 none;
  border-radius: 5px;

  margin: 5px 10vw 5px calc(10vw - 42px);
  overflow: hidden; // due to button border radius

  input {
    flex-grow: 1;
    padding: 10px 5px;

    background: transparent;
    border: 0 none;

    text-align: center;
    color: #ccc;

    &:focus {
      outline: none;
    }
  }

  button {
    background: transparent;
    color: #bfbfbf;
    border: 0 none;
    cursor: pointer;
    line-height: 10px;

    .loader {
      animation: spin 2s linear infinite;
    }
  }
}

button.about-button {
  $size: $navbar-height;
  width: $size;
  height: $size;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
  line-height: 0;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
