@import "variables.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

aside {
  display: block;
  background: lighten($color-primary, 5%);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

nav {
  display: block;
  width: 100%;

  form {
    display: block;
    width: 100%;
    padding: 10px;

    background: lighten($color-primary, 5%);
    border-bottom: 1px solid lighten($color-primary, 15%);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    input {
      display: block;
      background: lighten($color-primary, 15%);

      border: 0 none;
      color: #fff;

      width: 100%;
      padding: 5px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      padding: 15px 10px;
      border-bottom: 1px solid lighten($color-primary, 15%);
      cursor: pointer;
      user-select: none;

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      span {
        display: inline-block;
        width: 100%;

        white-space: nowrap;
        overflow: hidden;

        text-overflow: ellipsis;
        word-break: break-all;

        &.fn-call {
          font-family: "Roboto Mono", monospace;
        }

        &.fn-description {
          color: #777;
          font-size: 0.9rem;
          margin-top: 5px;
        }
      }
    }
  }
}

u {
  text-decoration-style: dotted;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

article {
  header {
    background-color: lighten($color-primary, 5%);
    padding: 25px 20px;
    width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    h1 {
      display: flex;
      margin: 0 auto;
      font-weight: 300;
      line-height: 36px; // to match button
      white-space: pre;

      span.hide-overflow {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .k-fn {
        color: #c586c0;
      }

      .k-name {
        color: #dcdcaa;
      }

      .k-arg-name {
        color: #9cdcfe;
      }

      .k-sym {
        color: #d4d4d4;
      }

      .k-type {
        color: #569cd6;
      }

      button {
        min-width: 130px;
        align-self: center;
      }
    }
  }

  section {
    display: block;
    padding: 0 20px 15px 20px;

    &#labels {
      padding: 20px 20px 0 20px;

      mat-chip {
        overflow: hidden;

        &:focus {
          outline: none;
        }

        i {
          display: block;
          width: 1.3px;
          background: #fff;
          margin: 0 7.5px;
          border-radius: 5px;
          height: calc(100% + 14px);
        }
      }
    }

    h2 {
      font-weight: 300;
      margin-top: 40px;
      text-transform: uppercase;
    }

    .no-content {
      background-color: lighten($color-primary, 10%);
      color: #fafafa;

      display: inline-block;
      padding: 15px;

      border-radius: 5px;
      margin-top: 0;
    }

    table,
    .table-responsive,
    mat-tab-group {
      width: 100%;
      max-width: 720px;
    }

    ::ng-deep .mat-tab-body-content {
      overflow-y: hidden;
    }

    ngx-monaco-editor {
      display: block;
      height: 100%;
      min-height: 300px;
    }
  }
}
