@import "shared-colors";

.callName {
	display: flex;
	align-items: center;

	.hrefIcon {
		margin-left: 10px;
		color: $c3;
		margin: 5px;
		&:hover {
			color: $c8;
		}
	}
}

.bookmarkIcon {
	margin-right: 10px;
	color: $c3;
	transition: all 0.1s ease-out;

	&.bookmarked {
		color: $red;
		&:hover {
			color: $red-light-4;
		}
	}
	&:hover {
		color: $red;
	}
}

.hrefIcon {
	margin-right: 10px;
	color: $c3;
	// margin: 5px;
	&:hover {
		color: $c8;
	}
}

.statusCircle {
	margin-right: 10px;
	transition: all 0.2s ease-out;

	&.gray {
		color: $c3;
	}

	&.green {
		color: $green;
	}

	&.orange {
		color: $orange;
	}

	&.purple {
		color: $purple;
	}

	&.red {
		color: $red;
	}
}

.header {
	border-radius: 5px 5px 0px 0px;
	border: 1px solid $grey;
	padding: 10px 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	cursor: pointer;

	.callName {
		display: flex;
		align-items: center;
	}
}
