$gray: #a2a9b5;
$blue: #1760dd;

.content {
  width: 100%;
  height: 100%;
  margin-top: 30px;

  .form {
    .item {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        font-size: 18px;
      }
      input {
        border: 2px solid $gray;
        padding: 6px;
        border-radius: 5px;
        outline: none;
        color: $gray;
        background: white;
        font-size: 16px;
        &:focus {
          color: $blue;
          border: 2px solid $blue;
        }
      }
    }
  }
}
