$gray: #a2a9b5;
$blue: #1760dd;

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid $gray;
  border-right: none;
  padding: 10px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: $gray;
  background: white;
  font-size: 22px;

  &:focus + .searchButton {
    color: $blue;
    border: 2px solid $blue;
    border-left: none;
  }
  &:focus {
    color: $blue;
    border: 2px solid $blue;
    border-right: none;
  }
}

.searchButton {
  width: 40px;
  min-height: 100%;
  border: 2px solid $gray;
  border-left: none;
  background: white;
  text-align: center;
  color: $gray;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
