@import "enterprise";
$width: 1000px;
.mainWrapper {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: $icebg;

	justify-content: center;

	@include lato;

	.content {
		width: $width;
		max-width: $width;
		padding: 15px;
	}
}
