name: release_dev
on:
  push:
    branches:
      - master
jobs:

  _version:
    runs-on: ubuntu-latest
    steps:
      - run: echo -n 0.0.0-dev.$(date -u +'%Y%m%d%H%M%S') > version.txt
      - uses: actions/upload-artifact@v1
        with:
          name: version
          path: version.txt

  parser:
    needs: [_version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./parser
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./parser
    - run: npm run build
      working-directory: ./parser
    - run: npm publish --tag dev
      working-directory: ./parser
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  browser-runtime:
    needs: [_version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./browser-runtime
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./browser-runtime
    - run: npm run build
      working-directory: ./browser-runtime
    - run: npm publish --tag dev
      working-directory: ./browser-runtime
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  dart-runtime:
    needs: [_version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-java@v1
      with:
        java-version: 12.x
    - uses: subosito/flutter-action@v1
      with:
        channel: stable
    - run: flutter pub get
      working-directory: ./dart-runtime
    - run: "sed 's/version: 0.0.0/version: '$(cat ../version/version.txt)'/' -i pubspec.yaml"
      working-directory: ./dart-runtime
    - run: mkdir -p $PUB_CACHE && echo "$PUB_CREDENTIALS" > $PUB_CACHE/credentials.json && flutter pub pub publish -v -f
      working-directory: ./dart-runtime
      env:
        PUB_CACHE: ../pub-cache
        PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}

  android-runtime: 
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - run: sed -i -e "s/versionName \"1.0\"/versionName $(cat ../version/version.txt)/g" build.gradle
      working-directory: ./android-runtime/runtime
    - run: sed -i -e "s/versionCode 1/versionCode $(date +%s)/g" build.gradle
      working-directory: ./android-runtime/runtime
    - uses: xdtianyu/actions-android-ci@master
      with: 
        args: "./android-runtime/gradlew test install bintrayUpload"
      env: 
        BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
        BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
  typescript-generator:
    needs: [parser, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./typescript-generator
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./typescript-generator
    - run: npm run build
      working-directory: ./typescript-generator
    - run: npm publish --tag dev
      working-directory: ./typescript-generator
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  csharp-generator:
    needs: [parser, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./csharp-generator
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./csharp-generator
    - run: npm run build
      working-directory: ./csharp-generator
    - run: npm publish --tag dev
      working-directory: ./csharp-generator
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  kotlin-generator:
    needs: [parser, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./kotlin-generator
    - run: npm install
      working-directory: ./kotlin-generator
    - run: npm run build
      working-directory: ./kotlin-generator
    - run: npm publish --tag dev
      working-directory: ./kotlin-generator
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  dart-generator:
    needs: [parser, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./dart-generator
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./dart-generator
    - run: npm run build
      working-directory: ./dart-generator
    - run: npm publish --tag dev
      working-directory: ./dart-generator
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  cli:
    needs: [parser, typescript-generator, dart-generator, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./cli
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./cli
    - run: npm run build
      working-directory: ./cli
    - run: npm publish --tag dev
      working-directory: ./cli
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  playground:
    needs: [_version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./playground
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./playground
    - run: npm run build
      working-directory: ./playground
      env:
        NODE_ENV: production
    - run: npm publish --tag dev
      working-directory: ./playground
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  node-runtime:
    needs: [parser, typescript-generator, kotlin-generator, dart-generator, playground, _version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org
    - run: npm install
      working-directory: ./node-runtime
    - run: |
        npm install -g json && json -I -f package.json -e '
          this.version = "'$(cat ../version/version.txt)'";
          this.main = "dist/src/index.js";
          this.types = "dist/src/index.d.ts";
          for (const pkg in this.dependencies)
            if (this.dependencies[pkg].startsWith("file:../"))
              this.dependencies[pkg] = this.version;
        '
      working-directory: ./node-runtime
    - run: npm run build
      working-directory: ./node-runtime
    - run: npm publish --tag dev
      working-directory: ./node-runtime
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  dotnetcore-runtime:
    needs: [_version]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: version
    - uses: actions/setup-dotnet@v1
    - uses: actions/setup-node@v1
    - run: npm install
      working-directory: ./playground
    - run: npm run build
      working-directory: ./playground
      env:
        NODE_ENV: production
    - run: dotnet pack -c:Release -p:PackageVersion=$(cat ../version/version.txt)
      working-directory: ./dotnetcore-runtime
    - run: dotnet nuget push bin/**/*.nupkg -k $NUGET_TOKEN -s https://api.nuget.org/v3/index.json
      working-directory: ./dotnetcore-runtime
      env:
        NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
